body{
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
}

.service-section{
    margin-left:200px;
    margin-right:200px;
    height: 700px;
}
.service-design img{
    width: 100px;
    height: 100px;
}
.service-design{
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.service-design strong{
    padding:  3px 20px;
    font-weight: bold;
    font-size: 20px;
    
}
.service-two-design{
    width: 400px;
    padding: 10px;
    display: flex;
    float: right;
    display: flex;
    flex-direction: column;
}
.service-two-design img{
    width: 100px;
    height: 100px;
}
.service-two-design strong{
    padding:  3px 20px;
    font-weight: bold;
    font-size: 20px;
}
.service-three-section{
    background:#fffbf8;
    height: 400px;
}
.section-four-img{
    background:#fffbf8;
    height: 400px;
    display: flex;
}
.service-three-passage{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-right:auto;
    margin-left:auto;

}
.service-three-passage h1{
    font-weight: bold;
    padding-top: 100px;
    font-size: 30px;
    line-height: 0%;
}
.service-three-img{
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 100px;
 
}
.service-only-image{
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
}
.service-only-image img{
    margin:auto;
 

}
.service-five-section{
    background:white;
    height: 400px;
}